.add-product.mx-2
  = button_to cart_add_product_path(product: {product_id: cart_product.product_id, quantity: '1'}), format: 'turbo_stream', method: :patch, type: "button", class: "btn btn-outline-dark btn-sm"
    i class="bi bi-plus-circle"