= turbo_stream.update('nav-cart', partial: 'shared/nav_cart')
- @cart.cart_products.find_each do |cart_product|
  = turbo_stream.replace("cart-product-#{cart_product.id}", partial: 'cart_products/cart_product', locals: { cart_product: cart_product })