= turbo_stream.update('new-discount-form', partial: 'form',
        locals: { discount: @discount,
                  discount_targets: @discount_targets,
                  condition_types: @condition_types,
                  condition: @condition,
                  action: :create })